
#body{
     width:1350px;
     height:650px;
     margin:0px;
     margin-left:2px;
     }

#home_background{
    height: 100%;
    width:100%;
}

#header{
    height:15%;
    width:100%;
    background-image: linear-gradient(to right,grey,black,black);
    color: wheat;
}

#tab_header{
    height:7%;
    width:100%;
    background-image: linear-gradient(to top right,grey,black,black);
    z-index: 3;
}

.tab_header{
    position: fixed;
    top:0px;
}

#logo_container{
    height:90%;
    width:10%;
    display: inline-block;
    margin:5px 0px 5px 3px ;
}

#marquee{
    height:30%;
    width:40%;
    float: right;
    margin:30px 10px 30px 2px;
    display: inline-block;
    align-items: center;
}

#extra_header{
    height: 85%;
    width:45%;
    margin:7px 5px 7px 0px;
    float: right;
    text-align: center;
}

#contact_info{
    height:50%;
    width:45%;
    display: inline-block;
    margin-top: 20;
}

#mail_info{
    height:50%;
    width:45%;
    display: inline-block;
    margin-top: 20;
}

#list{
    float: right;
    text-align: center;
    padding-right: 10;
}

#list li{
    list-style: none;
    width:250px;
    float: left;  
    height: 30px;
}
#start_bussiness_list ul li{
    float: none;
    text-align: left;
    font-size: 13;
}

#start_bussiness_list ul{
    background-image: linear-gradient(to bottom right,black,black,black,grey); 
    border-radius: 5px;
}


#company_registration_list ul li{
    float: none;
    text-align: left;
    font-size: 13;
}

#company_registration_list{
     background-image: linear-gradient(to bottom right,black,black,black,grey);
    border-radius: 5px;
}


#list li:hover ul{
    display: block;
    color:green;
}

#list li:hover{
    color:green;
  
}


#list li ul {
    display: none;
    line-height: 2.3;
}

#list li ul li:hover{
    color:green;
    text-decoration: underline;
}


#img_container{
    height:65%;
    width:100%;
    animation-name: slide;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    background-size: cover;
}


@keyframes slide
{
    0% {background-image: url(images/PicsArt_03-21-05.06.59.jpg);}
    
    25% {background-image:url(images/PicsArt_03-21-05.17.31.jpg);}
    
    50% {background-image: url(images/PicsArt_03-21-05.21.03.jpg);}
    
    75% {background-image: url(images/PicsArt_03-21-05.24.21.jpg);}
    
    100% {background-image: url(images/PicsArt_03-21-05.06.59.jpg);}
}


#content{
    height:180%;
    margin-left: 15px;
}

#content2{
    height:150%;
    background-image: url(images/157-1572191_hd-wallpapers-for-website-background-cool-background-image.jpg);
    background-size: cover;
    margin-left: 15px;
    margin-top: 20px;

}

#client_review{
    height:90%;
    width:300%;
    display: flex;
    flex-direction: row;
    font-size: 14;
    text-align: center;
    color: wheat;
}

#client_text{
    height:95%;
    width:32%;
    margin:0 25 0 25;
    position: relative;
    animation-name: textSlide;
    animation-duration:10s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}

@keyframes textSlide{
    
    0% {left:0%;}
    
    30% {left:0%;}
    
    35% {left:-33%;}
    
    65% {left:-33%;}
    
    70% {left:-67%;}
    
    100% {left:-67%;}
}

a{
    text-decoration: none;
}

hr{
    margin-top: -5px;
    padding: 0px;
}

#bottom_content2{
    height:50%;
    width:100%;
    padding-top: 60;
    color: wheat;
}

#content2_img{
    height:50%;
    background-image: url(images/form_back.jpg);
    z-index: -1;
    padding-left: 30;
    display: flex;
    align-items: center;
}

#content_top{
    height: 7%;
    width:100%;
    display: flex;
    flex-direction: row;
    background-image: url(images/bookbg.png);
    color: black;
}

#content_top_img{
    height:100%;
    width:8%;
    opacity: 0.8;
}

#content_top_text{
    height:85%;
    width:17%;
    text-align: center;
    padding-bottom: 5;
}


#first{
    height:40%;
    width:100%;
    text-align: center;
    background-image: url(images/bg1.png);
    background-size: cover;
    z-index: -2;
    color: black;
}

#second{
    height:40%;
    width:100%;
    background-size: cover;    
    color: wheat;
}

#footer{
    height: 60%;
    width:100%;
    background-color: black;

}

#footer h5,h2,li{
    color:wheat;
}

#quick_link li{
    list-style: none;
}

#information li{
    list-style: none;
}













